.card-container {
  height: 100%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 0.07);
  }

  .card-image {
    height: 75%;
    overflow: hidden;
  }

  .card-image > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: top;
  }
  .card-body {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;

    .card-title {
      font-weight: 700;
      line-height: 1.57;
      text-align: left;
      color: #282c3f;
      font-size: 0.8rem;
      max-width: 85%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-subtitle {
      opacity: 0.6;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 0.7rem;
      font-weight: 400;
      text-align: left;
      color: #282c3f;
    }

    .card-icon {
      position: absolute;
      top: 0.5rem;
      right: 0;
    }
  }
}
