.nav {
  padding: 0.8rem 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-left-info {
      display: flex;
      flex-direction: column;

      .nav-title {
        font-weight: 700;
      }

      .nav-subtitle {
        font-size: 0.8rem;
        font-weight: 400;
        color: #424553;
      }
    }
  }

  .nav-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
