.sortby-title {
  border-bottom: 1px solid #eaeaec;
  font-weight: 700;
  font-size: 1rem;
  color: #3e4152;
  padding-left: 10px;
  margin: 0 10px;
  padding-top: 12px;
  padding-bottom: 8px;
}
.sortby-item {
  margin: 0.6rem 0rem;
  padding: 0.4rem 1.5rem;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.sortby-item-selected {
  border-left: 2px solid #ff3e6c;
}
