.sortby-title {
  border-bottom: 1px solid #eaeaec;
  font-weight: 700;
  font-size: 1rem;
  color: #3e4152;
  padding-left: 10px;
  margin: 0 10px;
  padding-top: 12px;
  padding-bottom: 8px;
}
.sortby-item {
  padding: 1rem 1.5rem;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
